<div class="page-width">
  {{ section.settings.custom_html }}
</div>



{% schema %}
{
  "name": {
    "de": "Benutzerdefiniertes HTML",
    "en": "Custom HTML",
    "es": "HTML personalizado",
    "fr": "Code HTML personnalisé",
    "it": "HTML personalizzato",
    "ja": "HTMLをカスタムする",
    "pt-BR": "HTML personalizado"
  },
  "class": "index-section",
  "settings": [
    {
      "type": "html",
      "id": "custom_html",
      "label": {
        "de": "Benutzerdefiniertes HTML",
        "en": "Custom HTML",
        "es": "HTML personalizado",
        "fr": "Code HTML personnalisé",
        "it": "HTML personalizzato",
        "ja": "HTMLをカスタムする",
        "pt-BR": "HTML personalizado"
      },
      "default": {
        "de": "<h2>Informieren Sie über Ihre Marke</h2><p>Formatieren Sie Ihren Text mit HTML, damit er leichter lesbar ist. Mit diesem Text können Sie Ihre Kunden über Ihre Marke informieren.</p>",
        "en": "<h2>Talk about your brand</h2><p>Use HTML to format your text so it can be easily read. This text can be used to share information about your brand with customers.</p>",
        "es": "<h2>Habla sobre tu marca</h2><p>Usa HTML para formatear tu texto para que se pueda leer fácilmente. Este texto se puede usar para compartir información sobre tu marca con los clientes.</p>",
        "fr": "<h2>Parlez de votre marque</h2><p>Utilisez le code HTML pour formater votre texte afin qu'il puisse être facilement lu. Vous pouvez utiliser ce texte pour partager des informations sur votre marque avec les clients.</p>",
        "it": "<h2>Parla del tuo brand</h2><p>Utilizza l'HTML per formattare il testo in modo che sia facilmente leggibile. Questo testo può essere utilizzato per condividere le informazioni sul tuo brand con i clienti.</p>",
        "ja": "<h2>あなたのブランドについて話す</h2><p>HTMLを使用してテキストを読みやすくフォーマットしてください。このテキストはあなたのブランドに関する情報をお客様と共有するために使用できます。</p>",
        "pt-BR": "<h2>Fale sobre sua marca</h2><p>Use HTML para formatar seu texto para que ele possa ser lido com facilidade. Esse texto pode ser usado para compartilhar informações sobre sua marca com os clientes.</p>"
      }
    }
  ],
  "presets": [
    {
      "name": {
        "de": "Benutzerdefiniertes HTML",
        "en": "Custom HTML",
        "es": "HTML personalizado",
        "fr": "Code HTML personnalisé",
        "it": "HTML personalizzato",
        "ja": "HTMLをカスタムする",
        "pt-BR": "HTML personalizado"
      },
      "category": {
        "de": "Advanced",
        "en": "Advanced",
        "es": "Avanzado",
        "fr": "Advanced",
        "it": "Advanced",
        "ja": "高度",
        "pt-BR": "Advanced"
      }
    }
  ]
}
{% endschema %}
